<div class="row" *ngIf='user'>

    <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <div class="list-group">
            <a [routerLink]="['/users']" class="dropdown-item active">Maintain User</a>
            <a [routerLink]="['/radioPrograms']" class="dropdown-item">Maintain Radio Program</a>
        </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

        <div class="card card-outline-secondary my-4" style="background-color:#F9F8FC">

            <div *ngIf='!user.id' class="alert alert-dismissible alert-success">
                <strong>Add New User</strong>
            </div>

            <div *ngIf='user.id' class="alert alert-dismissible alert-primary">
                <strong>Update User</strong>
            </div>

            <form class="jumbotron">
                <fieldset>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" [(ngModel)]='user.email' name="email" class="form-control is-valid" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="example@email.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div> 
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" [(ngModel)]='user.name' name="name" class="form-control is-invalid" id="exampleInputName" aria-describedby="nameHelp"
                            placeholder="Enter name">
                        <small id="nameHelp" class="form-text text-muted">Full Name.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02">Choose photo</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="">Upload</span>
                            </div>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <legend>Roles</legend>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Presenter" checked="">
                                <label class="custom-control-label" for="Presenter">Presenter</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Producer">
                                <label class="custom-control-label" for="Producer">Producer</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Manager">
                                <label class="custom-control-label" for="Manager">Manager</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Admin" disabled="">
                                <label class="custom-control-label" for="Admin">Admin</label>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

</div>