<div class="row">

    <div class="col-lg-3">
      <h1 class="my-4"></h1>
      <div class="list-group">
        <a [routerLink]="['/users']" class="dropdown-item active">Maintain User</a>
        <a [routerLink]="['/radioPrograms']" class="dropdown-item">Maintain Radio Program</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
       
      <div class="card card-outline-secondary my-4">
       
        <div class="col-lg-3">
            <a class="btn btn-primary" href="user.html" role="button">Add New</a>
        </div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='users && users.length'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Roles</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let user of users'>
                  <td>
                    <a [routerLink]="['/users', user.id]">
                      {{ user.name }}
                    </a>
                  </td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.roles }}</td>
                  <td>
                      <button type="button" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
      </div>
      </div>
    </div>
    <!-- /.col-lg-9 -->