﻿  <div class="row">

    <div class="col-lg-3">
      <h1 class="my-4"></h1>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-6">
                <div class="col-md-10 col-md-offset-10 jumbotron">
                        <h1 class="my-4"></h1>
                    <div class="breadcrumb-item active">
                        <div class="panel-title">
                            <h3 class="panel-title">Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rem" checked="">
                                            <label class="custom-control-label" for="rem">Remember Me</label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
             
    </div>
    <div class="col-lg-3">
    </div>
    <!-- /.col-lg-9 -->
  </div>